<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/auth/sign_up</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit_profile</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletEditProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_profile</servlet-name>
        <url-pattern>/edit_profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>get_users</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletGetAllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get_users</servlet-name>
        <url-pattern>/get_user_list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>get_profile</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletGetUserProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get_profile</servlet-name>
        <url-pattern>/profile/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ban_user</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletBan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ban_user</servlet-name>
        <url-pattern>/profile/ban/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getModels</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.admin.toget.ServletAdminGetModels</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getModels</servlet-name>
        <url-pattern>/admin/entities/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteModel</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.admin.todelete.ServletAdminDeleteModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteModel</servlet-name>
        <url-pattern>/admin/entities/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllModels</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.admin.toget.ServletAdminGetAllModels</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllModels</servlet-name>
        <url-pattern>/admin/entities</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createModel</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.admin.tocreate.ServletAdminCreateModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createModel</servlet-name>
        <url-pattern>/admin/entities/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editModel</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.admin.toedit.ServletAdminEditModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editModel</servlet-name>
        <url-pattern>/admin/entities/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forum</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletForum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forum</servlet-name>
        <url-pattern>/forum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>section</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletSection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>section</servlet-name>
        <url-pattern>/forum/section</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_topic</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletCreateTopic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_topic</servlet-name>
        <url-pattern>/forum/section/create_topic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>topic</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletTopic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>topic</servlet-name>
        <url-pattern>/forum/section/topic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_topic_comment</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletTopic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_topic_comment</servlet-name>
        <url-pattern>/forum/section/topic/create_topic_comment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_person_article</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletCreatePersonArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_person_article</servlet-name>
        <url-pattern>/articles/persons/create_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>person_articles</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletGetAllPersonArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>person_articles</servlet-name>
        <url-pattern>/articles/persons</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>404</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletNotFound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>404</servlet-name>
        <url-pattern>/404.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create_event_article</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletCreateEventArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create_event_article</servlet-name>
        <url-pattern>/articles/events/create_new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>event_articles</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletGetAllEventArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>event_articles</servlet-name>
        <url-pattern>/articles/events</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>event_article</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletEventArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>event_article</servlet-name>
        <url-pattern>/articles/event</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>person_article</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletPersonArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>person_article</servlet-name>
        <url-pattern>/articles/person</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletSearchUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>send_message</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletSendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>send_message</servlet-name>
        <url-pattern>/messages/send</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>files</servlet-name>
        <servlet-class>ru.kpfu.itis.group501.popov.servlets.ServletFiles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>files</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>filterNotAccess</filter-name>
        <filter-class>ru.kpfu.itis.group501.popov.filters.FilterNotAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterNotAccess</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>filterAccess</filter-name>
        <filter-class>ru.kpfu.itis.group501.popov.filters.FilterAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>profile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>edit_profile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>editModel</servlet-name>
        <servlet-name>getAllModels</servlet-name>
        <servlet-name>getModels</servlet-name>
        <servlet-name>createModel</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>logout</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>create_person_article</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>create_topic</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>create_topic_comment</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>ban_user</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>create_event_article</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>get_users</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterAccess</filter-name>
        <servlet-name>send_message</servlet-name>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
</web-app>