<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="application/javascript" src="../../js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme-spacelab.min.css">
    <link rel="stylesheet" href="../../css/mycss.css">
    <script type="application/javascript" src="../../js/bootstrap.js"></script>
</head>

<body>

<div class="content clearfix container-fluid" id="content">
    <!--header-->
    <div class="row text-center">
        <img src="../Logo.png">
    </div>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Main</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Persons</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Registration</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Private page</a></li>
                            <li><a href="#">My messages</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header-->
    <!--content-->
    <div class="row">
        <div class="content panel panel-default col-md-9">
            <div class="panel-group">
                <div class="col-md-3">
                    <div class="thumbnail" style="margin-top: 20px">
                        <img src="#">
                    </div>
                </div>

                <div class="col-md-8">
                    <h3>Podriv Ystoev</h3>

                    <h3>Date of birth:
                        <small>24.11.1987</small>
                    </h3>
                </div>
            </div>

            <div class="panel panel-default panel-group col-md-12">
                <h3>Biography:</h3>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id
                    est laborum.</p>
            </div>

            <div class="panel panel-default panel-group col-md-12">
                <div class="panel panel-default" style="margin: 10px">
                    <div class="thumbnail col-md-2 col-sm-2"
                         style="margin-top: 20px; margin-left: 20px; margin-right: 20px">
                        <img src="#"/>
                    </div>
                    <div class="panel-body">
                        <h4>User 1</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id
                            est laborum.</p>

                        <div class="likes col-md-12 lead">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span class="glyphicon glyphicon-thumbs-down"></span><small>100500</small>
                        </div>
                    </div>
                </div>

                <form method="post" action="#" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2"><label for="comment">Commentary</label></div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="comment">
                        </div>
                    </div>


                    <div class="form-group" style="margin: 20px">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary" name="send">Send</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!--content-->
    <div class="footer">
        <p class="text-muted">Copyright (c) 2016</p>
    </div>

</div>


</body>
</html>