<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript" src="../../js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme-spacelab.min.css">
    <link rel="stylesheet" href="../../css/mycss.css">
    <script type="application/javascript" src="../../js/bootstrap.js"></script>
</head>
<body>
<div class="content clearfix container-fluid" id="content">
    <!--header-->
    <div class="row">
        <div class="col-xs-4"></div>
        <img src="../Logo.png">
    </div>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Main</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Persons</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Registration</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Private page</a></li>
                            <li><a href="#">My messages</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header-->

    <div class="row ">
        <div class="content panel panel-default">
            <form class="form-inline" style="margin-top: 20px; margin-left: 20px">
                <input type="text" class="form-control input-sm " placeholder="Name" name="name">

                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm">Profession
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Prof 1</a></li>
                        <li><a href="#">Prof 2</a></li>
                    </ul>
                </div>
                <input type="date" class="form-control input-sm" placeholder="First date" name="firstdate">
                <input type="date" class="form-control input-sm" placeholder="Last date" name="lastdate">

                <button type="submit" class=" btn btn-primary btn-sm" name="search">Search</button>
            </form>

            <div class="row">
                <div class="panel" id="list">
                    <div class="panel-group">
                        <div class="panel panel-default" style="margin: 10px">
                            <div class="thumbnail col-md-2 col-sm-2"
                                 style="margin-top: 20px; margin-left: 20px; margin-right: 20px">
                                <img src="#"/>
                            </div>
                            <div class="panel-body">
                                <p class="lead">Name 1</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur
                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                    id
                                    est laborum.</p>
                            </div>
                        </div>

                        <div class="panel panel-default" style="margin: 10px">
                            <div class="thumbnail col-md-2 col-sm-2"
                                 style="margin-top: 20px; margin-left: 20px; margin-right: 20px">
                                <img src="#"/>
                            </div>
                            <div class="panel-body">
                                <p class="lead">Name 2</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur
                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                    id
                                    est laborum.</p>
                            </div>
                        </div>
                    </div>


                    <ul class="pagination" style="margin-left: 20px">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <div class="footer">
        <p class="text-muted">Copyright (c) 2016</p>
    </div>
    <!--footer-->
</div>

</body>
</html>