<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="application/javascript" src="../../js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme-spacelab.min.css">
    <link rel="stylesheet" href="../../css/mycss.css">
    <script type="application/javascript" src="../../js/bootstrap.js"></script>
</head>

<body>

<div class="content clearfix container-fluid" id="content">
    <!--header-->
    <div class="row">
        <div class="col-xs-3"></div>
        <img src="../Logo.png">
    </div>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Main</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Persons</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Registration</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Private page</a></li>
                            <li><a href="#">My messages</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header-->

    <div class="row">
        <div class="content panel panel-default col-md-9">
            <div class="panel-group">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="#">
                    </div>
                </div>

                <div class="col-md-6">
                    <h1>Name:
                        <small>Podriv</small>
                    </h1>

                    <h1>Surname:
                        <small>Ystoev</small>
                    </h1>

                    <h1>Date of birth:
                        <small>24.11.1987</small>
                    </h1>
                </div>
            </div>

            <div class="panel-group col-md-10">
                <h1>Interests:</h1>
                <p class="lead">explosions, flames, blazes</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="text-muted">Copyright (c) 2016</p>
    </div>

</div>


</body>
</html>